body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}