*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family: 'Segoe UI', sans-serif;
background:#0f172a;
color:#f1f5f9;
}

/* PARTICLE BACKGROUND */

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

/* NAVBAR */

nav{
position:fixed;
width:100%;
top:0;
background:rgba(15,23,42,0.7);
backdrop-filter:blur(10px);
padding:20px 0;
z-index:1000;
}

.nav-container{
width:90%;
max-width:1100px;
margin:auto;
display:flex;
justify-content:flex-end;
}

nav a{
margin-left:30px;
text-decoration:none;
color:#f1f5f9;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
width:90%;
max-width:900px;
margin:auto;
}

.hero h1{
font-size:3.5rem;
margin-bottom:10px;
}

.hero h2{
color:#38bdf8;
margin-bottom:20px;
}

.hero p{
line-height:1.7;
color:#cbd5f5;
margin-bottom:15px;
}

/* SECTION */

.section{
width:90%;
max-width:1100px;
margin:120px auto;
}

h3.section-title{
font-size:2rem;
margin-bottom:40px;
border-bottom:1px solid #334155;
padding-bottom:10px;
}

/* PROJECT CARDS */

.project-card{
background:#1e293b;
padding:30px;
border-radius:15px;
margin-bottom:40px;
transition:.4s;
}

.project-card:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(56,189,248,.25);
}

.project-card img{
width:100%;
border-radius:10px;
margin:20px 0;
}

.project-card p{
line-height:1.6;
color:#cbd5f5;
}

.btn{
display:inline-block;
padding:8px 15px;
margin-top:15px;
background:#38bdf8;
color:#0f172a;
border-radius:6px;
text-decoration:none;
font-weight:bold;
margin-right:10px;
}

/* SKILLS */

.skill{
margin-bottom:20px;
}

.skill-bar{
background:#334155;
border-radius:8px;
overflow:hidden;
}

.skill-fill{
background:#38bdf8;
padding:5px;
color:#0f172a;
font-weight:bold;
}

/* INTERESTS */

.interests{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.interest-card{
background:#1e293b;
padding:25px;
border-radius:12px;
text-align:center;
transition:.3s;
}

.interest-card:hover{
transform:translateY(-5px);
box-shadow:0 5px 20px rgba(0,0,0,.4);
}

/* CERTIFICATIONS */

.cert-card{
background:#1e293b;
padding:25px;
border-radius:10px;
margin-bottom:20px;
}

/* FOOTER */

footer{
text-align:center;
padding:40px;
border-top:1px solid #334155;
color:#94a3b8;
margin-top:60px;
}
